body {
    background: #004681;
}
h1 {
    font-family: "Helvetica", sans-serif;
    font-size: 100px;
}
h2
{
    font-family: "Helvetica", sans-serif;
    font-size: 40px;
}
li {
    font-family: "Helvetica", sans-serif;
    font-size: 36px;
}
.picButton {
	-moz-box-shadow:inset 8px -10px 5px #7F8C8D  ;
	-webkit-box-shadow:inset 8px -10px 5px #7F8C8D  ;
	box-shadow:inset 8px -10px 5px #7F8C8D  ;
	background-color: #E5E8E8;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #424949;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size: 62px;
	font-weight: bold;
	width: 30vw;
	height: 18vh;
	text-decoration:none;
	background-size:auto 36vh;
	background-repeat: no-repeat;
	background-position: 20px 10px;
	margin: 0;
	margin-bottom: 8px;
	outline: none;
}
.largeButton {
	-moz-box-shadow:inset 8px -10px 5px #7F8C8D  ;
	-webkit-box-shadow:inset 8px -10px 5px #7F8C8D  ;
	box-shadow:inset 8px -10px 5px #7F8C8D  ;
	background-color: #E5E8E8;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #424949;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size: 120px;
	font-weight: bold;
	width: 190px;
	height: 190px;
	text-decoration:none;
	background-size:160px 160px;
	background-repeat: no-repeat;
	background-position: 15px 15px;
	margin: auto;
	margin-top: 0;
	outline: none;
	text-align: left
}
.helpBox {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.helpBox-content {
  background-color: #696969;
  margin: auto;
  padding: 0px;
  padding-bottom: 20px;
  border: none;
  width: 100%;
}