body {
    background: black;
}
video.loading {
  background: black url(Vision.png) center center no-repeat;
}
.picButton {
	-moz-box-shadow:inset 8px -10px 5px #b8b8b9;
	-webkit-box-shadow:inset 8px -10px 5px #b8b8b9;
	box-shadow:inset 8px -10px 5px #b8b8b9;
	background-color:#e8e8ee;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #535460;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:52px;
	font-weight: bold;
	width: 48vw;
	height: 17vh;
	text-decoration:none;
	background-size:14vh 14vh;
	background-repeat: no-repeat;
	background-position: 20px 5px;
	margin-top: 0px;
	margin-bottom: 3px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 20vh;
	text-align: left;
	outline: none;
}
.lightButton {
	background-color:#000000;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #535460;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:36px;
	font-weight: bold;
	line-height: 10%;
	width: 5vh;
	height: 5vh;
	text-decoration:none;
	background-size:3vh 3vh;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 2px;
	margin-right: 2px;
	text-align: middle;
}
.roundButton {
	-moz-box-shadow:inset 6px -6px 5px #8C1717	;
	-webkit-box-shadow:inset 6px -6px 5px #8C1717	;
	box-shadow:inset 6px -6px 5px #8C1717	;
	background-color:#DB2929;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #660000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:48px;
	font-weight: bold;
	width: 11vh;
	height: 11vh;
	text-decoration:none;
	background-size:14vh 14vh;
	background-repeat: no-repeat;
	background-position: 20px 5px;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 2px;
	padding-left: 11px;
	margin-right: 2px;
	text-align: middle;
	float:right;
	outline: none;
}
.shushButton {
	-moz-box-shadow:inset 6px -6px 5px #483d8b	;
	-webkit-box-shadow:inset 6px -6px 5px #483d8b	;
	box-shadow:inset 6px -6px 5px #483d8b	;
	background-color:#6a5acd;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #660000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:48px;
	font-weight: bold;
	width: 16vh;
	height: 11vh;
	text-decoration:none;
	background-size:14vh 14vh;
	background-repeat: no-repeat;
	background-position: 20px 5px;
	margin-top: 2px;
	margin-bottom: 0px;
	margin-left: 2px;
	padding-left: 11px;
	margin-right: 2px;
	text-align: middle;
	float:right;
	outline: none;
}
/* The Modal (background) */
.hint {
  /*display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 2px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 88%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.hint-content {
  background-color: black;
  margin: auto;
  padding: 0px;
  border: none;
  width: 100%;
  height: 100%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 80px;
  font-weight: bold;
}