body {
    background: #004681;
}
h1 {
    font-family: "Helvetica", sans-serif;
    font-size: 100px;
}
h2
{
    font-family: "Helvetica", sans-serif;
    font-size: 48px;
}
.picButton {
	-moz-box-shadow:inset 8px -10px 5px #7F8C8D  ;
	-webkit-box-shadow:inset 8px -10px 5px #7F8C8D  ;
	box-shadow:inset 8px -10px 5px #7F8C8D  ;
	background-color: #E5E8E8;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #424949;
	display:inline-block;
	color:#000000;
	font-family:Arial;
	font-size: 120px;
	font-weight: bold;
	width: 40vw;
	height: 30vh;
	text-decoration:none;
	background-size:auto 36vh;
	background-repeat: no-repeat;
	background-position: 20px 10px;
	margin: 20px;
	outline: none;
}